
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root{

    --teal-text: #7BFFE9;
    --body-color: #2A3B49;
    --white-text: #FFFFFF;
    --black-text: #000000;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    background-color:#2A3B49;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    
}

header h1:first-child a{
    color: var(--teal-text);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    cursor: grab;
}

nav{
    display: flex;
    align-items: center;
}

nav a{
   padding: 0 20px;
   flex-wrap: wrap;
   align-content: center;
   color: var(--white-text);
  
    font-style: normal;
    font-size: 16px;
   
    
    
}

main{
    background-image: url(/assets/homepage.jpg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;  
}

#mainP{
    
    background-color: var(--body-color);
    position: absolute;
    width: 667px;
    height: 437px;
    left: 0px;
    bottom: 0px;
  
    font-weight: 400;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    padding: 50px;
    border-radius: 150px 150px 150px 0px;
    color: var(--white-text);
    
}

#mainA{
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: var(--teal-text);
    border: 2px solid var(--teal-text);
    border-radius: 60px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    background: transparent;
    cursor: grab;
    padding: 30px 70px;
}
